#canvas-container {
  position: relative;  /* Container to position the canvases relative to each other */
  width: 100%;  /* Make the container responsive */
  height: 100%; /* Full height */
  max-width: 720px;  /* Maximum width for the container */
  margin: 0 auto;  /* Center the canvases horizontally */
  aspect-ratio: 4 / 3;  /* Optional: Lock the aspect ratio */
}

canvas {
  position: absolute;  /* Stack the canvases on top of each other */
  top: 0;   
  left: 0;

}
